/* @import 'tailwindcss'; */

/* @source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php'; */
/* @source '../../storage/framework/views/*.php'; */
/* @source '..*.blade.php'; */
/* @source '..*.js'; */

/* @theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { 
    display: none !important; 
}

@layer base {
    :root {
        /* Definisi warna standar (Light Mode Only) */
        --color-cream: 255 251 242; 
        --color-dark: 45 36 36;     
        --color-surface: 255 255 255; 
    }
    /* Warna saat teks diblok/highlight */
    ::selection {
        background-color: #8b004b; /* Magenta Mesuluh */
        color: #fff8e8; /* Krem Mesuluh */
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

